---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout title="Angil Tours and Travels">
    <section class="container about" aria-label="About me">
        <img 
            src="/images/headshot.webp"
            alt="Gangtok"
            width="200"
            height="330"
            />
        <div class="content">
            <h1 class="h1">Angil Tours and Travels</h1>
            <h1 class="h1">འནགིལ་་ཏོུརསན་འནད་ཏརའཙེལས</h1>
            <h2 class="h2">ཝེལཅོམེ་ཏོ་སིཀཀིམ</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur aut, similique tempore beatae ipsum laboriosam magnam fuga, esse rem soluta corporis! Incidunt at iste saepe possimus maxime ipsa excepturi sunt.
                ཝེལཅོམེ་ཏོ་སིཀཀིམ་ཏཧེ་ལའནད་྄ོ་ཏཧེ་གོདས
            </p>
            <Link
                href="mailto:chad@gmail.com"
                style="primary"
                text="Call us /ཅའལལ་ུས་ "
            />
        </div>
    </section>
</MainLayout>
