---
<<<<<<< HEAD
const str="Bob"
const num =1
const obj={
    name:str,
    number:num,
    favourites:["astro","css","js"]
}
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="viewport"
        content="width=device-width"/>
        <meta name="generator" content={Astro.generator}/>
        <title>Astro By Drake</title>
        
    </head>
    <body>
        <h1>{obj.favourites[1]}</h1>

    </body>
</html>
=======
// component imports
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout title="My Blog">
    <p>hi from About</p>
</MainLayout>
>>>>>>> b8d7804 ( added bunch of changes)
