---
// components imports
import MainLayout from "../layouts/MainLayout.astro";

// link import 
import Link from "../components/Link.astro";
---


<MainLayout title="Angil Tours and Travles" description="My about Page">
  <p>hi from <span>Home</span></p> 
</MainLayout>